<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google" content="notranslate">
    <title>GreenGuard - Hub</title>
    <link href="beer.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <script type="module" src="beer.min.js"></script>
</head>
<body>
    <main class="responsive">
        <h3>GreenGuard</h3>
        <h6>Wireless configuration</h6>
        <form method='POST'>
            <div class="field label border">
                <input type="text" name="ssid" value="">
                <label>SSID</label>
            </div>
            <div class="field label border">
                <input type="text" name="password" value="">
                <label>Password</label>
            </div>
            <button type="submit">Save</button>
        </form>
    </main>
</body>
</html>